<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bidingapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BidingApplication">
        <activity android:name=".messaging.messagingActivity"></activity>
        <activity android:name=".profile.seeOthersRaitingActivity" />
        <activity android:name=".profile.lookOtherProfileActivity" />
        <activity android:name=".profile.myRatingsActivity" />
        <activity android:name=".profile.ratingsActivity" />
        <activity android:name=".profile.configProfileActivity" />
        <activity android:name=".itemStuff.itemOptionsActivity" />
        <activity android:name=".profile.myProfileActivity" />
        <activity android:name=".itemStuff.detailedItemActivity" />
        <activity android:name=".itemStuff.createItemActivity" />
        <activity android:name=".signup.signupActivity" />
        <activity android:name=".signup.loginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>